.mainContainer {
    margin: 1rem 0 2rem 0;
    display: grid;
    place-items: center;
    gap: 0.3rem;
    width: 100%;
}

.collapsible {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 0.8rem;
    place-items: center;
    transition: max-height .5s ease-in-out;
    overflow: hidden;
    max-height: 15rem;
}

.collapsed {
    max-height: 0;
}

.toLeft {
    justify-self: left;
    margin-right: .6rem;
}

.toRight {
    justify-self: right;
    margin-left: .6rem;
}

.label {
    color: #666;
}

.maxWrapper {
    display: grid;
    place-items: center;
    width: 50%;
}

.collapsible>input::-webkit-outer-spin-button,
.collapsible>input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fourGrid {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr 1fr;
    gap: 0.2rem;
    place-items: center;
    width: 100%;
}


.collapserPart {
    width: 95%;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid aliceblue;
}

.collapserNameInput {
    background-color: #CCC;
    color: #222;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.collapserButton {
    background-color: #111;
    font-size: 1.2rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
}

.collapserButton:active {
    filter: brightness(200%)
}