.workoutContainer {
    display: grid;
    grid-template-rows: auto 10px auto 10px auto;
    border-radius: 30px;
    border: 1px solid black;
    overflow: hidden;
    place-items: center;
}

.datePickerWrapper,
.react-datepicker-wrapper,
.datePicker {
    width: 100%;
}

.datePicker {
    background-color: rgb(99, 99, 99);
    font-size: 1.2rem;
    border: none;
    text-align: center;
    color: aliceblue;
}

.newExerciseButton {
    all: unset;
    font-size: 1.5rem;
    color: aliceblue;
    background-color: rgb(33, 33, 33);
    border-top: 1px solid rgb(95, 95, 95);
    border-bottom: 1px solid rgb(95, 95, 95);
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    cursor: pointer;
}