@keyframes easeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.easeOut {
    animation: 0.3s ease-out 0s 1 easeOut;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body,
#root {
    height: 100%;
    width: 100%;
    background-color: black;
    color: aliceblue;
}

#root {
    display: flex;
    justify-content: center;
    place-items: center;
}